.contactform {
	font-family: 20px;
	margin: 0 auto;
	width: 100%;
}

.contactform input[type="text"] {
	border: solid 1px #e8e8e8;
	font-family: 'Oswald', sans-serif;
	padding: 10px 7px;
	margin-bottom: 15px;
	outline: none;
	width: 100%;
}