@import 'variables/all';

//Creating the grid
//Grid variables
$grid_cols: 12;
$max_width: 100%;
$col_1_width: $max_width/$grid_cols;

@for $i from 1 through 12 {
    .col-#{$i} {
        width: $col_1_width * $i;
        content: "";
        display: block;
        float: left;

    }
}

@for $i from 1 through 12 {
    .offset-#{$i} {
        width: $col_1_width * $i;
    }
}

* {
    box-sizing: border-box;
}

.bg {
    border: 1px solid red;
}

//Portfolio Styling
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $pearl;
    color: $white;
    font-family: 'Text Me One', sans-serif;
    line-height: 1.6;
    margin: 0;
}

//navigation styling

.nav {
    position: fixed;
    overflow: hidden;
    width: 100%;
    background-color: $gray;
}

.nav ul {
    list-style: none;
    text-align: center;
}


.nav ul li {
    display: inline-block;
    list-style: none;
    color: $white;
    font-family: 'Text Me One', sans-serif;
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.nav a {
        color: $white;
        text-decoration: none;
}

.nav h1 {
    text-align: center;
}

//image styling

.home_img {
    width: 100%;
}

.about_img {
    text-align: center;
}

.skills_img {
    text-align: center;
}

.resume_img {
    text-align: center;
}

.social_img {
    text-align: center;
}