@import 'variables/all';
@import 'sections/all';

//Creating the grid
//Grid variables
$grid_cols: 12;
$max_width: 100%;
$col_1_width: $max_width/$grid_cols;

@for $i from 1 through 12 {
    .col-#{$i} {
        width: $col_1_width * $i;
        content: "";
        display: block;
        float: left;

    }
}

@for $i from 1 through 12 {
    .offset-#{$i} {
        margin-left: $col_1_width * $i;
    }
}

* {
    box-sizing: border-box;
}

